In [1]:
import pandas as pd

In [14]:
df = pd.DataFrame()

In [11]:
df['Пользователи']=['Ирина','Дмитрий','Алексей']
df['accounts']=['@IrinaYurasova','@format837','@format37']
df['Посуда']=[0,0,0]
df['Мусор']=[0,0,0]
df['Туалет']=[0,0,0]
df['Пол']=[0,0,0]

In [13]:
df.to_csv('data.csv')

In [16]:
pd.read_csv('data.csv')

   Unnamed: 0 Пользователи        accounts  Посуда  Мусор  Туалет  Пол
0           0        Ирина  @IrinaYurasova       0      0       0    0
1           1      Дмитрий      @format837       0      0       0    0
2           2      Алексей       @format37       0      0       0    0